.tag{
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-sm);
  padding: 5px;
  margin: 3px;

  display: inline-block;
  color: var(--background-color-main)
}