.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  column-gap: 3px;
  row-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
}
