.stats {
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  width: 25%;
}

.stat-element {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.stat-element > * {
  padding: 0.5rem;
  font-weight: bold;
}

.stat-element .caption {
  font-size: 0.75rem;
}
